body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-align:inherit;
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}
.header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #000;
}
.header h1 {
    margin: 0;
    font-size: 24px;
}
.header h2 {
    text-decoration: underline;
}
.header p {
    margin: 5px 0;
}
.section1 {
    margin: 20px 0;
    width: 68%; 

}
.section2 {
    margin: 20px 0;
    width: 48%;
    background-color: #052141e9;
    color:white;

}
.split {
    display: flex;
    justify-content: space-between;
}
